.assign-wrapper{
  width: 95%;
  margin: auto;
  margin-top: 50px;
}
.assign-wrapper h4{
  margin-bottom: 10px;
}
.assign-wrapper p{
font-size: 14px;
font-weight: 300;
margin-bottom: 20px;
}
.project-box {
  width: 100%;
  height: 350px;
  border: 5px dashed rgba(128, 128, 128, 0.274);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.project-box i,
.project-box p{
margin: 0;
}
.project-box i{
    font-size: 35px;
    color: gray;
    margin-bottom: 20px;
}
