.main-nav-wrapper {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.main-nav-wrapper :nth-child(n) {
  flex: 1;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  margin-top: 50px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(219, 219, 219);
  color: #050505bb;
  white-space: nowrap;
}
.link {
  text-decoration: none;
}
.link:hover {
  border-bottom: 3px solid #b7b8bbda;
}
