.portfolio-card-wrapper {
    height: 243px;
    width: 269px;
    /* border:1px solid black;  */
    /* position: fixed; */
    /* z-index: 2; */
    margin-left: 40px;


}

/* card image  */
.card-img img {
    width: 269px;
    height: 181px;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 0px 0px;
}

.portfolio-card-wrapper .card-text {
    width: 269px;
    height: 62px;
    background: rgba(245, 247, 249, 0.9);
    border: 1px solid #E5E5E5;
    padding: 10px 0 0 15px;
}

.card-heading {
    font-weight: 600;
    font-size: 14px;
    color: #374151;
}

.card-text p {
    font-weight: 400;
    font-size: 12px;
    color: #6B7280;
}